<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="build/index.css">
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>IM Demo</title>
</head>
<body>
<div class="im-wrapper">
    <div class="im-main-block clearfix">
        <div class="brand" func="collapse-im">
            <div class="title fl">聊天<span class="badge">**</span></div>
            <div class="op fr"><i class="fa fa-angle-up fa-2x"></i></div>
        </div>
        <div class="content">
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="搜索用户" func="search">
            </div>
            <div class="sessions result hidden"></div>
            <div class="sessions list"></div>
        </div>
    </div>
    <div class="im-chat-block hidden">
        <div class="brand">
            <div class="title fl">**</div>
            <div class="op fr">
                <i class="fa fa-gear" func="setting-window" current="chat"></i>
                <i class="fa fa-window-maximize" func="resize-chat"></i>
                <i class="fa fa-close" func="close-chat"></i>
            </div>
        </div>
        <div class="content chat">
            <div class="messages"><div class="message-wraaper"></div></div>
            <div class="input-wrapper">
                <div class="editor">
                    <textarea class="textarea" placeholder="请输入..." autofocus="true" maxlength="2500" func="your-message"></textarea>
                </div>
                <div class="left-btns"></div>
                <div class="right-btns" func="send-message">发送</div>
            </div>
        </div>
        <div class="content settings hidden">
            <div class="setting" func="new-chat-alert" enable="0">
                <i class="fa fa-square-o"></i>新消息提醒
            </div>
            <div class="setting" func="pin-chat" enable="0">
                <i class="fa fa-square-o"></i>将对话置顶
            </div>
            <div class="blank-split"></div>
            <div class="setting" func="clear-chat-history">
                <i class="fa fa-trash"></i>清空聊天记录
            </div>

            <div class="go-back" func="go-back-chat">
                <span>返回聊天</span>
            </div>
        </div>
    </div>
</div>

<script type="x-template" id="session">
    <% _.forEach(sessions, function(session) { %>
        <div class="session clearfix" id="session-id-<%- session.account_id %>" account-id="<%- session.account_id %>" from-account-id="<%- session.last_message.from_account_id %>" to-account-id="<%- session.last_message.to_account_id %>">
            <div class="highlight"></div>
            <div class="avatar fl">
                <img src="<%- session.avatar %>" alt="我是头像">
            </div>
            <div class="customer fl">
                <div class="name"><%- session.nickname %></div>
                <div class="msg"><%- session.last_message.content %></div>
            </div>
            <div class="stamp fr">
                <div class="del" func="del-session" account-id="<%- session.account_id %>">&times;</div>
                <div class="time"><%- filters.timeFormat(session.last_message.timestamp) %></div>
                <% if (session.unread_count) { %>
                    <div class="count"><%- session.unread_count %></div>
                <% } %>
            </div>
        </div>
    <% }) %>
</script>

<script type="x-template" id="result">
    <% _.forEach(results, function(result) { %>
        <div class="session clearfix" account-id="<%- result.account_id %>">
            <div class="highlight"></div>
            <div class="avatar fl">
                <img src="<%- result.avatar %>" alt="我是头像">
            </div>
            <div class="customer fl">
                <div class="name"><%- result.nickname %></div>
                <div class="msg"><%- result.introduce %></div>
            </div>
        </div>
    <% }) %>
</script>

<script type="x-template" id="message">
    <% _.forEach(messages, function(msg) { %>
        <% if (msg.from_account_id === from_account_id) { %>
            <div class="message clearfix customer" msg-id="<%- msg.msg_id %>">
                <div class="fl avatar" data-username="<%- msg.nickname %>"><img src="<%- msg.avatar %>" alt="头像"></div>
                <div class="fl content" data-stamp="<%- filters.timeFormat(msg.timestamp) %>"><%- msg.content %></div>
            </div>
        <% } else { %>
            <div class="message clearfix me" msg-id="<%- msg.msg_id %>">
                <div class="fr avatar"><img src="<%- msg.avatar %>" alt="头像"></div>
                <div class="fr content" data-stamp="<%- filters.timeFormat(msg.timestamp) %>"><%- msg.content %></div>
            </div>
        <% } %>
    <% }) %>
</script>

<script src="lib/jquery.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="index.js"></script>
</body>
</html>
